/* This code used for SampleHeader */
.header {
    background: green;
    height: 200px;
  }
  
.header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

/* Code below this line will be used for printing */
@page {
  margin: 1in;
}